[*.cs]

# CA1307: 指定 StringComparison
dotnet_diagnostic.CA1307.severity = silent

# CA1305: 指定 IFormatProvider
dotnet_diagnostic.CA1305.severity = silent

# IDE0060: 删除未使用的参数
dotnet_code_quality_unused_parameters = all:silent

# CA1031: 不捕获常规异常类型
dotnet_diagnostic.CA1031.severity = silent

# CA1051: 不要声明可见实例字段
dotnet_diagnostic.CA1051.severity = silent

# CA2227: 集合属性应为只读
dotnet_diagnostic.CA2227.severity = none

# CA1716: 标识符不应与关键字匹配
dotnet_diagnostic.CA1716.severity = none
